body {
    background-color: rgb(41, 39, 60);
    margin: 0;
    font-family: rubik;
}

.card {
    list-style: none;
    padding: 40px;
    background-color: rgb(30, 33, 34);
    color: #ffffff;
    text-align: center;
}

.card:hover {
    animation: bounce 0.5s linear;
    cursor: pointer;
}

.card-title {
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

.card-subtitle {
    font-weight: lighter;
    color: #666;
    margin-top: 5px;
}

.card-image {
    height: 180px;
}

#pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.container {
    padding: 40px;
    margin: 0 auto;
}

h1 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-2px);
    }
    80% {
        transform: translateY(0px);
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(30, 33, 34);
    opacity: 0.97;
    display: flex;
    justify-content: center;
    align-items: center;
}

#closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
}

#closeBtn {
    background-color: rgb(87, 82, 127);
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 3px;
    transition: transform 100ms;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0px 1px 2px rgb(255, 255, 255);
}

#topBtn {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(87, 82, 127);
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    border: 2px solid #ffffff;
}

#gameButton {
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    font-size: 18px;
    z-index: 2;
}

#searchBar {
    width: 98%;
    height: 32px;
    border-radius: 3px;
    border: 2px solid rgb(142, 134, 209);
    padding: 5px 10px;
    font-size: 12px;
}

#counters {
    display: flex;
}

#charNum {
    color: white;
}

#arrayLength {
    color: white;
    padding-left: 50px;
}
