body {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #0e1820;
  /* text-align: center; */
}

.title {
  text-align: center;
  font-size: 3.5rem;
  background-color: #6e9fc1;
  margin: 0;
  padding: 2rem;
}

.form {
  text-align: center;
  font-size: 1.5rem;
  background-color: #c1906e;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.picked {
  text-decoration: line-through;
}

.footer {
  background-color: #86c2eb;
}
