body {
    margin: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #0e1820;
}

.title {
    text-align: center;
    font-size: 3.5rem;
    background-color: #6e9fc1;
    margin: 0;
    padding: 2rem;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form {
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form h3 {
    margin: 0 1rem;
}

.shoppingList ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
}

.shoppingList .item {
    list-style-type: none;
    flex: 0 0 33%;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.shoppingList .deleteButton {
    background: transparent;
    border: none;
}

.picked {
    text-decoration: line-through;
}

.footer {
    background-color: #c1906e;
    padding: 2rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}
